<body class="background">
	<div class="welcome">
        <p class="text-home">Event management has been steadily growing as a profitable business venture and has garnered substantial scholarly and professional interest. It draws from various disciplines to converge and create a new project, termed as an 'event'.</p>
    </div>
</body>
   