@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #aaaaaa;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


img
{
  hight :50px;
  wight:auto;
}


.fluid-container{
  position: relative;
  height: 100%;
}

.fluid-container .row:first-child{
  margin-right: 0;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: sky;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* garvatrar */
.gravatar {
font-size: 5px;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* footer*/
footer {
  margin-top: 25px;
  padding-top: 0px;
  border-top: 3px solid pink;
  color: $gray-light;
  a {
   float: left;
  font-size: 20px;
  padding: 15px;
  
  transition: all .5s ease;
    color: $gray;
    &:hover {
      color: sky;
    }
  }

  small {
    float: left;
  }

  ul {
    
    float: right;
    list-style: none;
    li {
      font-size:10px;
      float: left;
      margin-left: 10px;
      
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
